@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ 
	var startNode = Umbraco.TypedContent(1148);
	var completedProjects = startNode.Children().Where("status.Contains(\"Completed\")").OrderBy("CreateDate desc");
	
	var projectToDisplay = completedProjects.Take(3);
}

	<ul>
@{
	
	foreach(var project in projectToDisplay){
		<li><a href = "@project.Url">@project.Name</a></li>
	}
	

}
	</ul>
