<access>
  <page id="1067" loginPage="1102" noRightsPage="1106" simple="False">
    <group id="active" />
  </page>
  <page id="1070" loginPage="1102" noRightsPage="1106" simple="False">
    <group id="active" />
  </page>
  <page id="1089" loginPage="1102" noRightsPage="1106" simple="False">
    <group id="active" />
  </page>
  <page id="1148" loginPage="1102" noRightsPage="1106" simple="False">
    <group id="active" />
  </page>
  <page id="1111" loginPage="1102" noRightsPage="1106" simple="False">
    <group id="active" />
  </page>
</access>